.app-header{
	text-align: center;
	height: 10%;
	background-color: rgb(153,153,153);
	color: black;
	font-size:x-large;
	font-weight: bold;
	border-color: black;
	border-bottom-style: solid;
}
#header-content-container {display: table;}

#header-content {
    display: table-cell;
    vertical-align: middle;
}